<nav class="navbar navbar-light bg-light">
    <button class="btn btn-warning navbar-brand" style="color:#fff">ServiceNow APP</button>
    <button class="btn btn-warning my-2 my-sm-0" (click)="onSignout(snowform)">Logout</button>
</nav>
  
<main role="main" class="container">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
</main>