<div class="jumbotron" style="padding-top: 0px;">
    <div class="card card-container">            
        <p class="col text-center justify-content-center align-self-center" style="color: #fff;">Please Login with ServiceNow.</p>
        <p class="col text-center justify-content-center align-self-center" style="color: #fff;">username : public <br> password : public</p>
        <div class="col text-center justify-content-center align-self-center" style="padding-top: 30px;">
            <button class="btn btn-md" style="background-color: #FF5722!important;" (click)="onSignin(snowform)">
                <img src="assets/img/snow-logo.png" style="float:center;width: 200px;">
            </button>
        </div>
    </div>
</div>

<form style="display:none" #snowform action="https://dev70643.service-now.com/oauth_auth.do">
    <input type="hidden" name="response_type" value="token" />
    <input type="hidden" name="client_id" value="06296f0d9e404010b3bab5ab0696e1a7" />
    <input type="hidden" name="redirect_uri" value="http://localhost:4200/oauth/callback" />
    <input type="hidden" name="state" value="login" />
</form>